$culoareaPrimara: #1f2937;
$culoareaSecundara: #efefef;
$culoareaSpreGrena: #ca7c7c;
$culoareaAlba: #ffffff;
$culoareaAlbastruInchis: #094296;
$culoareaNuantaDeAlb: #f1f1f1;
$borderRadius: 5px;
$paddingPrincipal: 10px;
$gapPrincipal: 10px;
